.h2hardskills {
    color: $primary;
    background: linear-gradient(158deg, rgba(0, 0, 0, 1) 2%, rgba(249, 178, 8, 1) 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
.h2global{
  margin: $spacing-xl auto $spacing-md auto;
  @media screen and (min-width: 768px) {
    margin-top: calc($spacing-xl * 2);
  }

}

.carousel{
  margin: auto;
  box-shadow: 20px 20px 60px rgb(249, 178, 8, .10),
  -20px -20px 60px #e3e3e3;
  border-radius: 15px;
  width: 80%;
}
.precision{
    margin: $spacing-md auto $spacing-md;
    width: 80%;
    font-weight: lighter;
    font-size: small;

  @media screen and (min-width: 768px) {
    font-size: larger;
  }
}