.h2hardskills {
    color: $primary;
    background: linear-gradient(158deg, rgba(0, 0, 0, 1) 2%, rgba(173, 145, 97, 1) 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: $title-font;

  }
.h2global{
  margin: $spacing-xl auto $spacing-md auto;
  font-family: $title-font;
  @media screen and (min-width: 768px) {
    margin-top: calc($spacing-xl * 2);
  }

}
.allcontainer{
  max-width: 80%;
  margin: auto;

}
.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: $spacing-sm;
  grid-row-gap: $spacing-sm;
  border-radius: 15px;
  box-shadow:  20px 20px 60px #bebebe,
  -20px -20px 60px #ffffff;
  padding: $spacing-sm;
  div{
    display: flex;
    justify-content: center;
    align-items: center;
  }

}

.hardskills{

    .php{
      width: 65%;
    }
    .html{
      width: 50%;
      @media screen and (min-width: 768px) {
        width: 45%;
      }
    }
  }



.precision{
    margin: $spacing-md auto $spacing-md;
    width: 80%;
    font-weight: lighter;
    font-size: small;

  @media screen and (min-width: 768px) {
    font-size: larger;
  }
}