.bordertopstyle{
  border-top: $spacing-sm solid $secondary;
  z-index: 1000;
  position: fixed;
  top:0;
  left: 0;
  right: 0;
}
.links{
  position: fixed;
  bottom: calc($spacing-md * 2.5);
  right: calc($spacing-sm / 2);
  z-index: 1000;
  svg{
    margin-top: calc($spacing-sm / 2);
    &:hover{
      fill: rgb(86, 71, 49);
    }
  }
}