.navbar{
  background-color: $secondary;
  border-top: 3px solid $primary;

  li{
    font-size:small;
    @media screen and (min-width: 768px) {
      font-size: larger;
    }
    }

    a{
      color: #FFFFFF;
      &:hover{
        background:linear-gradient(158deg, rgba(255,255,255,1) 14%, rgba(249,178,8,1) 91%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }


