@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Fauna+One&family=Playfair+Display&display=swap');
//////////////////////////
//Variables de couleurs//
////////////////////////
$primary: rgb(249, 178, 8);
$secondary: #273036;
$white: white;



///////////////////////////
//Variables d'espacement//
/////////////////////////
$spacing-sm: 1rem;
$spacing-md: 2rem;
$spacing-l: 3rem; //Feel free to divide if necessary
$spacing-xl: 4rem; //Feel free to divide if necessary

//////////////////////////////////
//Variables de police d'écriture//
/////////////////////////////////
$title-font: 'Fauna One', serif;
$body-font: 'Playfair Display', serif;

