
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300&family=Lora:wght@500&display=swap');
//////////////////////////
//Variables de couleurs//
////////////////////////
$primary: #AD9161;
$secondary: #273036;
$white: white;

@import "~bootstrap/scss/bootstrap";

///////////////////////////
//Variables d'espacement//
/////////////////////////
$spacing-sm: 1rem;
$spacing-md: 2rem;
$spacing-l: 3rem; //Feel free to divide if necessary
$spacing-xl: 4rem; //Feel free to divide if necessary

//////////////////////////////////
//Variables de police d'écriture//
/////////////////////////////////

$body-font: 'Lexend', sans-serif;
$title-font: 'Lora', serif;

