<nav class="navbar fixed-bottom d-flex">
    <div class="container-fluid justify-content-evenly">
            <ul class="navbar-nav d-flex flex-row">
                <li class="nav-item px-2">
                    <a class="nav-link" aria-current="page" href="#">Présentation</a>
                </li>
                <li class="nav-item px-2">
                    <a class="nav-link" href="#">HardSkills</a>
                </li>
                <li class="nav-item px-2">
                    <a class="nav-link" href="#">Projets</a>
                </li>
                <li class="nav-item px-2">
                    <a class="nav-link" href='#'>Contact</a>
                </li>
            </ul>
        </div>
</nav>