
<div class="allprez d-flex justify-content-center" id="prez">
    <div class="jumbotron p-3">
    <h1 class="display-4 fw-bold">Présentation</h1>
    <p class="lead">Après un parcours scolaire tumultueux,
         un saut de 3 ans dans la restauration, quelques
        mois en tant que formateur dans ce même restaurant,
        j'ai décidé de faire confiance à Wild Code School
        pour permettre d'allier la passion à l'agréable.
        Et c'est alors que je suis aujourd'hui possible
        d'écrire des fonctionnalités en PHP/Symfony.

    </p>
    <hr class="my-4">
    <p>Et d'autres choses aussi mais vous pouvez le voir plus bas :)</p>
    </div>
</div>
