<div class="symfonyUX d-flex  justify-content-center mt-5">
<div class="card d-flex  " style="width: 18rem;">
       <div class="card-body ">
              <div>
                     I created this UX component because
                     <span {{ stimulus_controller('symfony/ux-typed', {
                            strings: ['I â¤ Symfony UX', 'Symfony UX is great', 'Symfony UX is easy'],
                            smartBackspace: true,
                            startDelay: 200,
                            backSpeed: 100,
                            backDelay: 500,
                            loop: true,
                            showCursor: true,
                            cursorChar: 'ðŸŠ'
                     }) }}></span>
              </div>

       </div>
</div>
</div>